<!DOCTYPE html>

<html lang="en">
   <head>
      <title>File Metadata Microservice</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <header>
        <h1>File Metadata Microservice</h1>
      <hr />
    </header>
    <main class="container">
      <div class="view">
        <h4 id="output"></h4>
        <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
          <fieldset>
            <legend>Upload a file</legend>
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Upload">
          </fieldset>
        </form>
      </div>
   </main>
</html>
