@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0px auto;
  padding: 0px auto;
}

html {
  font-size: 15px;
  line-height: 1.5;
}

body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: rgb(80, 80, 80);
}

form {
  margin-bottom: 25px;
  min-width: 400px;
}

fieldset {
  padding: 20px;
  border-color: rgb(100, 185, 185);
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 8px;
  padding: 4px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 0.9rem;
}

input[type="file"] {
  border: none;
}

input[type="submit"] {
  letter-spacing: 0.05rem;
}

input[type="submit"]:hover {
  background-color: rgb(100, 185, 185);
  border: 1px solid rgb(60, 120, 120);
  color: rgb(60, 70, 70);
  cursor: pointer;
}

code {
  font-family: monospace;
  font-size: 0.9rem;
  background-color: rgb(255, 231, 196);
  padding: 2px;
}

.container {
  width: 60%;
  margin: 0 auto;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/*

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #ECF0F1;
  text-align: center;
}

.container {
  padding: 0;
  margin-top: 40px;
}

.footer {
  margin-top: 60px;
}

a {
  color: #2574A9;
}

input {
  display: block;
  position: relative;
  margin: 10px auto;
}

input#button {
  width: 230px;
}

.view {
  position:relative;
  margin: auto;
  margin-top: 40px;
  border: 1px  solid  #aaa;
  padding: 20px;
  width: 60%;
  min-width: 400px;
}
 */